$white: #fff;
$grey: #484444;
$light-grey: rgba(159, 148, 150, 0.58);

@mixin button($p, $w, $fs) {
    color: $white;
    font-size: $fs;
    padding: $p;
    text-align: center;
    width: $w;
    font-weight: 500;
    display: block;
    border: 3px solid $white;
    text-transform: uppercase;
    background: transparent;
        &:hover, &:focus {
            transition: 0.2s;
            opacity: 0.7;
        }
}

@mixin title($color) {
    font-weight: 700;
    font-size: 26px;
    color: $color;
    padding: 60px 0 30px;
}

@mixin light-block($max-width, $radius, $padding, $line-height) {
    background-color: $light-grey;
    border-radius: $radius;
    padding: $padding;  
    max-width: $max-width;
    color: #fff;
    line-height: $line-height;
    font-size: 16px;
    box-shadow: 0 10px 40px rgb(72 68 68 / 20%);
}

@mixin padding-block {
    padding: 60px 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
}

a {
    cursor: pointer;
}

hr {
    color: $grey;
}

input {
    outline: none;
}

.logo {
    width: 180px;
    display: block;
}

.icon {
    width: 25px;
    height: 25px;
}

.logo-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main {
    background: url(/images/main.jpg) no-repeat;
    background-size: cover;
    padding: 40px 0 60px;
        &__title {
            color: $white;
            font-weight: 400;
            margin-top: 100px;
            font-size: 60px;
            text-transform: uppercase;
        }
        &__subtitle {
            margin-top: 30px;
        }
        &__request {
            margin: 140px 0 0 auto;
            @include button(20px, 250px, 16px);
        }
}

.header {
    display: flex;
    gap: 70px;
    justify-content: flex-end;
    font-size: 16px;
    &__link {
        color: $grey;
        font-weight: 500;
        position: relative;
        display: block;
        text-transform: uppercase;

        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 0.8px;
            background: $grey;
            left: 0;
            top: 25px;
            transition: .4s;
            transform: scale(0);
            transform-origin: left;
          }
          &:hover:before {
            transform: scale(1);
          }
    }
}

.about {
    color: $grey;
    &__title {
        @include title($grey);
    }
    &__text {
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;

        &--first {
            padding: 10px 0 25px;
        }
        &--second {
            padding: 25px 0 60px;
        }
    }
}

.advantages {
    background: $light-grey;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: $grey;

    &-part {
        display: flex;
        justify-content: center;
        gap: 100px;
        margin: 60px 0;
    }
    &__item {
        text-align: center;
        max-width: 270px;
    }
    &__icon {
        width: 70px;
    }
    &__name {
        font-weight: 700;
        padding: 10px 0;
        font-size: 20px;
    }
    &__descr {
        font-weight: 500;
        line-height: 30px;
        font-size: 16px;
    }
}

.fancybox__content {
    padding: 0 !important;
}
img.slide-modal__img {
    width: 100%;
}

.works {
    .container {
        position: relative;
        margin-bottom: 90px;
    }
    &__title {
        @include title($grey);
    }
    .swiper {
        margin: 0 30px;

        &-button-prev {
            transform: rotate(180deg);
        }
        &-slide {
            a {
                width: inherit;
            }
            &__img {
                width: inherit;
                height: 178px;
                object-fit: cover;
            }
        }
        &-button-next, &-button-prev {
            width: 15px;
            height: 20px;
            top: 68%;
        }
        &-button-next {
            right: 0;
        }
        &-button-prev {
            left: 0;
        }
    }
    .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
        top: 320px;
    }
    .works .swiper-pagination-bullet {
        background-color: $light-grey;
    }
    span.swiper-pagination-bullet {
        width: 10px;
        height: 10px;
    }
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background-color: $grey;
    }
    .slide-modal {
        display: none;
      }
}

.steps {
    background: url(/images/steps.jpg) no-repeat;
    background-size: cover;
    background-position-y: 65%;

    &__title {
        font-size: 30px;
        color: $white;
        line-height: 50px;
        position: relative;
        text-transform: uppercase;
    }
    &__item {
        color: $white;
        position: relative;
    }
    &__name {
        font-size: 16px;
        font-weight: 500;

        &--link {
            color: $white;
            &:hover, &:focus {
                text-decoration: underline;
            }
        }
    }
    &__text {
        font-size: 14px;
        margin-top: 3px;
    }
}

.properties {
    padding-bottom: 60px;
    &__title {
        @include title($grey);
    }
    &__list__item {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 5px 0;
        color: $grey;
        font-weight: 500;
        font-size: 16px;
    }
}

.conclusion {
    background: $light-grey;
    color: $grey;
    padding: 40px 0;

    &__text {
        color: $grey;
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
    }
}

.request {
    @include padding-block;
    background: url(/images/request.jpg) no-repeat;
    background-size: cover;


    &__button {
        margin-top: 20px;
    }

    &__title {
        font-size: 26px;
        text-align: center;
        color: $white;
        font-size: 32px;
        text-transform: uppercase;
        line-height: 50px;
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin-top: 40px;
    }

    &__input {
        padding: 15px 10px;
        width: 325px;
        border: none;
        font-size: 14px;
        background: #ffffffa1;
        color: $grey;
        font-weight: 500;
        box-sizing: border-box;
        height: 50px;

        &::placeholder {
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 400;
            color: $grey;
        }
    }
}
.footer {
    @include padding-block;
    font-size: 14px;
    background: $light-grey;
    &__logo {
        margin: 0 auto;
    }
    .contacts {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        &-phones {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 10px;            
        }
        a:hover, &:focus {
            font-weight: 500;
        }

        &__item {
            display: flex;
            align-items: center;
            gap: 10px;
            color: $grey;
        }
    }
}

@media screen and (max-width: 767px) {
    .container {
        padding: 0 10px;
    }
    .logo {
        width: 100px;
    }
    .icon {
        width: 20px;
        height: 20px;
    }
    .main {
        padding: 30px 0;
        &__title {
            font-size: 50px;
        }
        &__subtitle {
            @include light-block(500px, 20px, 10px, 25px)
        }
        &__request {
            @include button(15px, 240px, 16px);
            margin: 70px auto 0;
        }
    }
    .header {
        &__link {
            display: none;
        }
        &__menu {
            width: 50px;
        }
        .menu {
            display: none;
            position: absolute;
            top: 80px;
            border-radius: 10px;
            background: $white;
            padding: 20px 10px;
            &__item {
                padding: 10px;

                a {
                    color: $grey;
                    font-weight: 500;
                }
            }
        }
        .open {
            display: block;
        }
    }
    .about {
        &__title {
            font-size: 18px;
            padding: 30px 0 20px;
        }
        &__text {
            font-size: 13px;
            line-height: 25px;
            &--first {
                padding: 0 0 15px;
            }
            &--second {
                padding: 15px 0 30px;
            }
        }
    }
    .steps {
        padding-bottom: 92px;
        &__item {
            @include light-block(400px, 20px, 10px, 20px);
            margin: 0 auto;
        }
        &__item:nth-child(1) {
            top: 15px;
        }
        &__item:nth-child(2) {
            top: 35px;
        }
        &__item:nth-child(4) {
            top: 55px;
        }
        &__item:nth-child(5) {
            top: 75px;
        }
        &__title {
            display: none;
        }
        &__name {
            font-size: 14px;
        }
        &__text {
            font-size: 13px;
        }
    }
    .advantages {   
        &-part {
            gap: 10px;
            margin: 20px 0;
            display: block;
            margin: 15px 0;
        }
        &__item {
            max-width: 100%;
            margin-top: 20px;
        }
        &__icon {
            width: 60px;
        }
        &__name {
            font-size: 16px;
            padding: 5px 0;
        }
        &__descr {
            font-size: 14px;
            width: 70%;
            margin: 0 auto;
        }
    }
    .works {
        .container {
            margin-bottom: 55px;
        }
        .swiper {
            &-button-next {
                right: 15px;
            }
            &-button-prev {
                left: 15px;
            }
        }
        &__title {
            font-size: 18px;
            padding: 15px 30px;
        }
        .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
            top: 250px;
        }
    }
    .properties {
        padding-bottom: 30px;
        &__logo {
            display: none;
        }
        &__title {
            font-size: 18px;
            padding: 30px 0 20px;
        }
        &__list__item {
            gap: 10px;
            font-size: 14px;
            padding: 5px 0;
        }
    }
    .conclusion {
        padding: 30px 0;
        &__text {
            font-size: 13px;
            line-height: 25px;
        }
    }
    .request {
        padding: 30px 0;
        &__title {
            font-size: 24px;
        }
        .form {
            gap: 20px;
            margin-top: 15px;
        }
        &__button {
            margin-top: 10px;
        }
        &__input {
            width: 75%;
            font-size: 12px;
        }
        &__button {
            @include button(10px, 200px, 14px);
        }
    }
    .footer {
        font-size: 12px;
        padding: 30px 0;

        .contacts {
            margin-top: 10px;
            display: block;

            &-phones {
                gap: 0;
            }
            &__item {
                margin-top: 10px;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .menu {
        display: none;
    }
    .header {
        &__menu {
            display: none;
        }
    }
    .main {
        &__subtitle {
            @include light-block(600px, 30px, 20px, 25px);
        }
    }
    .steps {
        &__item {
            @include light-block(330px, 30px, 20px, 25px);
        }
    }
    .request {
        &__button {
            @include button(15px, 230px, 16px);
        }
    } 
}    

@media screen and (min-width: 768px) and (max-width: 1100px) {
    .container {
        padding: 0 30px;
    }
    .advantages {
        &-part {
            gap: 60px;
        }
        &__icon {
            width: 60px;
        }
        &__name {
            font-size: 18px;
        }
        &__descr {
            font-size: 14px;
        }
    }
    .works {
        .swiper {
            &-button-next {
                right: 30px;
            }
            &-button-prev {
                left: 30px;
            }
        }
    }
    img.slide-modal__img {
        width: 768px;
    }
    .steps {

        &__item:nth-child(1), &__item:nth-child(2), &__item:nth-child(4), &__item:nth-child(5) {
            left: 370px;
        }
        &__item:nth-child(1) {
            top: 55px;
        }
        &__item:nth-child(2) {
            top: 75px;
        }
        &__item:nth-child(4) {
            bottom: 60px;
        }
        &__item:nth-child(5) {
            bottom: 45px;
        }
        &__title {
            font-size: 28px;
        }
    }
    .footer {
        font-size: 12px;
    }
}

@media screen and (min-width: 1101px) {
    .steps {
        padding-bottom: 15px;
        &__item {
            color: $white;
            position: relative;
            &:nth-child(1) {
                left: 220px;
                top: 60px;
            }
            &:nth-child(2) {
                left: 370px;
                top: 75px;
            }
            &:nth-child(4) {
                left: 520px;
                bottom: 60px;
            }
            &:nth-child(5) {
                left: 670px;
                bottom: 45px;
            }
        }
    }   
}